
@{
    ViewBag.Title = "Index";
    
}

<head>
    <style>

        body, html {
            height: 100%;
        }

        .bg {
            /* The image used */
            background-image: url("/Image/default.jpg");
            /* Full height */
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    <!-- Custom fonts for this template-->
    <link href="~/Scripts/User/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="~/Scripts/User/sb-admin.css" rel="stylesheet">
</head>
<body class="bg">
    <h2>Welcome to Online Recruitment</h2>
    <a href="https://www.tcs.com/">TCS</a><br />
    <a href="https://www.capgemini.com/us-en/">CAPGEMINI</a> <br />
    <a href="https://www.infosys.com/">INFOSYS</a>  <br />
    <a href="https://www.hcltech.com/">HCL</a>  <br />
    <div>
        <p style="text-decoration:bold; color:#5a1f3e; text-size-adjust:150%; font-size:large">
            Go through the Links above for getting overview of the Companies.
        </p>
    </div>
</body>


